/Armstrong Number/nbproject/private/
/Armstrong Number/build/
/PatternProblem1/nbproject/private/
/PatternProblem1/build/
/PatternProblem2/nbproject/private/
/PatternProblem2/build/
/PatternProblem3/nbproject/private/
/PatternProblem3/build/
/PatternProblem4/nbproject/private/
/PatternProblem4/build/
/PatternProblem5/nbproject/private/
/PatternProblem5/build/
